---
http_interactions:
- request:
    method: get
    uri: https://api.hubstaff.com/v1/organizations/27572/members?offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth-Token:
      - 5WZ1SCto37HBhH-AR1jn0kC3FXROO4b39CREMSyt_1U
      App-Token:
      - 1u6rQ6kuB46U8kSYAXRPDaBvvAiB7GPMMxZVLii79KQ
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
      etag:
      - W/"7846c3a31086e61908f175f77bed7b72"
    body:
      encoding: UTF-8
      string: '{"users":[{"id":61188,"name":"Raymond Cudjoe","last_activity":"2016-05-24T01:25:21Z","email":"rkcudjoe@hookengine.com","pay_rate":"No
        rate set"}]}'
  recorded_at: Tue, 02 Aug 2016 20:17:57 GMT
recorded_with: VCR 3.0.3
