---
http_interactions:
- request:
    method: get
    uri: https://api.hubstaff.com/v1/organizations/27572
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth-Token:
      - 5WZ1SCto37HBhH-AR1jn0kC3FXROO4b39CREMSyt_1U
      App-Token:
      - 1u6rQ6kuB46U8kSYAXRPDaBvvAiB7GPMMxZVLii79KQ
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
      etag:
      - W/"a03c94a434ba40599fc5223ddc70e2c4"
    body:
      encoding: UTF-8
      string: '{"organization":{"id":27572,"name":"Hook Engine","last_activity":"2016-05-24T01:25:21Z"}}'
  recorded_at: Tue, 02 Aug 2016 20:17:57 GMT
recorded_with: VCR 3.0.3
