---
http_interactions:
- request:
    method: get
    uri: https://api.hubstaff.com/v1/organizations/27572
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      App-Token:
      - 1u6rQ6kuB46U8kSYAXRPDaBvvAiB7GPMMxZVLii79KQ
      Auth-Token:
      - 5WZ1SCto37HBhH-AR1jn0kC3FXROO4b39CREMSyt_1U
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"organization":{"id":27572,"name":"Hook Engine","last_activity":"2017-03-19T21:52:52Z"}}'
  recorded_at: Tue, 21 Mar 2017 11:30:20 GMT
recorded_with: VCR 3.0.3
