---
http_interactions:
- request:
    method: get
    uri: https://api.hubstaff.com/v1/organizations/27572
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      App-Token:
      - 1u6rQ6kuB46U8kSYAXRPDaBvvAiB7GPMMxZVLii79KQ
      Auth-Token:
      - 5WZ1SCto37HBhH-AR1jn0kC3FXROO4b39CREMSyt_1U
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
      etag:
      - W/"ee2083d3fca968bbe2683955bc59389a"
    body:
      encoding: UTF-8
      string: '{"organization":{"id":27572,"name":"Hook Engine","last_activity":"2016-09-29T15:20:00Z"}}'
  recorded_at: Thu, 29 Sep 2016 15:36:10 GMT
recorded_with: VCR 3.0.3
