---
http_interactions:
- request:
    method: get
    uri: https://api.hubstaff.com/v1/organizations?offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      App-Token:
      - 1u6rQ6kuB46U8kSYAXRPDaBvvAiB7GPMMxZVLii79KQ
      Auth-Token:
      - 5WZ1SCto37HBhH-AR1jn0kC3FXROO4b39CREMSyt_1U
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - W/"98512207768d7e16b31ae1ce22026e5c"
    body:
      encoding: UTF-8
      string: '{"organizations":[{"id":27572,"name":"Hook Engine","last_activity":"2016-09-29T20:29:14Z"}]}'
  recorded_at: Fri, 30 Sep 2016 03:45:45 GMT
recorded_with: VCR 3.0.3
