---
http_interactions:
- request:
    method: get
    uri: https://api.hubstaff.com/v1/activities?organizations=27572&start_time=2016-05-24&stop_time=2016-05-24
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth-Token:
      - 5WZ1SCto37HBhH-AR1jn0kC3FXROO4b39CREMSyt_1U
      App-Token:
      - 1u6rQ6kuB46U8kSYAXRPDaBvvAiB7GPMMxZVLii79KQ
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
      etag:
      - W/"5438bc2ab8e35c0f2f6711e754b43735"
    body:
      encoding: ASCII-8BIT
      string: '{"activities":[{"id":98613589,"time_slot":"2016-05-24T00:00:00Z","starts_at":"2016-05-24T00:00:00Z","user_id":61188,"project_id":112761,"keyboard":0,"mouse":0,"overall":0,"tracked":600,"paid":false}]}'
  recorded_at: Tue, 02 Aug 2016 18:53:30 GMT
recorded_with: VCR 3.0.3
