---
http_interactions:
- request:
    method: get
    uri: https://api.hubstaff.com/v1/screenshots?end_date=2016-05-25&projects=112761&start_date=2016-05-22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      App-Token:
      - 1u6rQ6kuB46U8kSYAXRPDaBvvAiB7GPMMxZVLii79KQ
      Auth-Token:
      - 5WZ1SCto37HBhH-AR1jn0kC3FXROO4b39CREMSyt_1U
  response:
    status:
      code: 400
      message: 
    headers:
      content-type:
      - application/json
      status:
      - 400 Bad Request
    body:
      encoding: UTF-8
      string: '{"error":"start_time is missing, stop_time is missing"}'
  recorded_at: Thu, 29 Sep 2016 15:04:50 GMT
- request:
    method: get
    uri: https://api.hubstaff.com/v1/screenshots?offset&organizations&projects=112761&start_time=2016-05-22&stop_time=2016-05-25&users
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      App-Token:
      - 1u6rQ6kuB46U8kSYAXRPDaBvvAiB7GPMMxZVLii79KQ
      Auth-Token:
      - 5WZ1SCto37HBhH-AR1jn0kC3FXROO4b39CREMSyt_1U
  response:
    status:
      code: 400
      message: 
    headers:
      content-type:
      - application/json
      status:
      - 400 Bad Request
    body:
      encoding: UTF-8
      string: '{"error":"organizations: must be an array separated by commas"}'
  recorded_at: Thu, 29 Sep 2016 17:11:27 GMT
- request:
    method: get
    uri: https://api.hubstaff.com/v1/screenshots?projects=112761&start_time=2016-05-22&stop_time=2016-05-25
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      App-Token:
      - 1u6rQ6kuB46U8kSYAXRPDaBvvAiB7GPMMxZVLii79KQ
      Auth-Token:
      - 5WZ1SCto37HBhH-AR1jn0kC3FXROO4b39CREMSyt_1U
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - W/"5de55b10561f17dca7cd9a7e6e6419af"
    body:
      encoding: ASCII-8BIT
      string: '{"screenshots":[{"id":173200938,"url":"https://hubstaff-production.s3.amazonaws.com/screenshots/61188/2016/21/112761/c0ee59a20ef67f9537057e50fcd2132f515cc45e/0.jpg","time_slot":"2016-05-23T22:00:00Z","recorded_at":"2016-05-23T22:08:36Z","user_id":61188,"project_id":112761,"offset_x":0,"offset_y":0,"width":1440,"height":900,"screen":0},{"id":173200946,"url":"https://hubstaff-production.s3.amazonaws.com/screenshots/61188/2016/21/112761/07411361cb290b3b6f1990ae543f2d8b4e1eb463/0.jpg","time_slot":"2016-05-23T22:10:00Z","recorded_at":"2016-05-23T22:11:15Z","user_id":61188,"project_id":112761,"offset_x":0,"offset_y":0,"width":1440,"height":900,"screen":0},{"id":173202151,"url":"https://hubstaff-production.s3.amazonaws.com/screenshots/61188/2016/21/112761/3012270d9192734d93d861ed0eb9de66d68721ca/0.jpg","time_slot":"2016-05-23T22:[...]
