---
http_interactions:
- request:
    method: get
    uri: https://api.hubstaff.com/v1/projects/112761
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      App-Token:
      - 1u6rQ6kuB46U8kSYAXRPDaBvvAiB7GPMMxZVLii79KQ
      Auth-Token:
      - 5WZ1SCto37HBhH-AR1jn0kC3FXROO4b39CREMSyt_1U
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
      etag:
      - W/"1b8f6a83bba9cc58dbe740432f465b48"
    body:
      encoding: UTF-8
      string: '{"project":{"id":112761,"name":"Build Ruby Gem","last_activity":"2016-09-29T16:00:00Z","status":"Active","description":null}}'
  recorded_at: Thu, 29 Sep 2016 16:09:47 GMT
recorded_with: VCR 3.0.3
