---
http_interactions:
- request:
    method: get
    uri: https://api.hubstaff.com/v1/projects/112761
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth-Token:
      - 5WZ1SCto37HBhH-AR1jn0kC3FXROO4b39CREMSyt_1U
      App-Token:
      - 1u6rQ6kuB46U8kSYAXRPDaBvvAiB7GPMMxZVLii79KQ
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
      etag:
      - W/"76032a1406a1f3bacd1882d8751f1cf8"
    body:
      encoding: UTF-8
      string: '{"project":{"id":112761,"name":"Build Ruby Gem","last_activity":"2016-05-24T01:25:21Z","status":"Active","description":null}}'
  recorded_at: Tue, 02 Aug 2016 20:20:45 GMT
recorded_with: VCR 3.0.3
