---
http_interactions:
- request:
    method: get
    uri: https://api.hubstaff.com/v1/projects/112761
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      App-Token:
      - 1u6rQ6kuB46U8kSYAXRPDaBvvAiB7GPMMxZVLii79KQ
      Auth-Token:
      - 5WZ1SCto37HBhH-AR1jn0kC3FXROO4b39CREMSyt_1U
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - W/"ef43e9f210f64e7ab6301fb81d3324bb"
    body:
      encoding: UTF-8
      string: '{"project":{"id":112761,"name":"Build Ruby Gem","last_activity":"2016-09-29T20:29:14Z","status":"Active","description":null}}'
  recorded_at: Tue, 18 Oct 2016 14:23:44 GMT
recorded_with: VCR 3.0.3
