---
http_interactions:
- request:
    method: get
    uri: https://api.hubstaff.com/v1/projects/112761/members?offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      App-Token:
      - 1u6rQ6kuB46U8kSYAXRPDaBvvAiB7GPMMxZVLii79KQ
      Auth-Token:
      - 5WZ1SCto37HBhH-AR1jn0kC3FXROO4b39CREMSyt_1U
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
      etag:
      - W/"c8e74829c7fc80a9ae6b0782ab2c13aa"
    body:
      encoding: UTF-8
      string: '{"users":[{"id":61188,"name":"Raymond Cudjoe","last_activity":"2016-09-29T18:48:58Z","email":"rkcudjoe@hookengine.com"}]}'
  recorded_at: Thu, 29 Sep 2016 20:15:54 GMT
recorded_with: VCR 3.0.3
