---
http_interactions:
- request:
    method: get
    uri: https://api.hubstaff.com/v1/projects?offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      App-Token:
      - 1u6rQ6kuB46U8kSYAXRPDaBvvAiB7GPMMxZVLii79KQ
      Auth-Token:
      - 5WZ1SCto37HBhH-AR1jn0kC3FXROO4b39CREMSyt_1U
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
      etag:
      - W/"2aa16bfa30b92423ddb86c65003446ad"
    body:
      encoding: UTF-8
      string: '{"projects":[{"id":112761,"name":"Build Ruby Gem","last_activity":"2016-09-29T18:48:58Z","status":"Active","description":null},{"id":120320,"name":"Hubstaff
        API tutorial","last_activity":"2016-09-29T17:55:17Z","status":"Active","description":null}]}'
  recorded_at: Thu, 29 Sep 2016 20:15:52 GMT
recorded_with: VCR 3.0.3
