---
http_interactions:
- request:
    method: get
    uri: https://api.hubstaff.com/v1/projects?offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      App-Token:
      - 1u6rQ6kuB46U8kSYAXRPDaBvvAiB7GPMMxZVLii79KQ
      Auth-Token:
      - 5WZ1SCto37HBhH-AR1jn0kC3FXROO4b39CREMSyt_1U
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"projects":[{"id":112761,"name":"Build Ruby Gem","last_activity":"2017-03-19T21:10:00Z","status":"Active","description":null},{"id":120320,"name":"Hubstaff
        API tutorial","last_activity":"2017-03-19T20:41:44Z","status":"Active","description":null}]}'
  recorded_at: Sun, 19 Mar 2017 21:22:55 GMT
recorded_with: VCR 3.0.3
