---
http_interactions:
- request:
    method: get
    uri: https://api.hubstaff.com/v1/projects?offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth-Token:
      - 5WZ1SCto37HBhH-AR1jn0kC3FXROO4b39CREMSyt_1U
      App-Token:
      - 1u6rQ6kuB46U8kSYAXRPDaBvvAiB7GPMMxZVLii79KQ
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
      etag:
      - W/"b49d2caa1abe08f1c56c8ebbfc82f346"
    body:
      encoding: ASCII-8BIT
      string: '{"projects":[{"id":112761,"name":"Build Ruby Gem","last_activity":"2016-05-24T01:25:21Z","status":"Active","description":null},{"id":120320,"name":"Hubstaff
        API tutorial","last_activity":null,"status":"Active","description":null}]}'
  recorded_at: Tue, 02 Aug 2016 20:20:50 GMT
recorded_with: VCR 3.0.3
