---
http_interactions:
- request:
    method: post
    uri: https://api.hubstaff.com/v1/auth?email=rkcudjoe%40hookengine.com&password=hookdev001
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      App-Token:
      - 1u6rQ6kuB46U8kSYAXRPDaBvvAiB7GPMMxZVLii79KQ
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
      etag:
      - W/"4e97488ea5a33bb7d4700432f9da12df"
    body:
      encoding: UTF-8
      string: '{"user":{"id":61188,"name":"Raymond Cudjoe","last_activity":"2016-05-24T01:25:21Z","auth_token":"5WZ1SCto37HBhH-AR1jn0kC3FXROO4b39CREMSyt_1U"}}'
  recorded_at: Wed, 03 Aug 2016 14:04:44 GMT
recorded_with: VCR 3.0.3
