---
http_interactions:
- request:
    method: post
    uri: https://api.hubstaff.com/v1/auth?email=rkcudjoe@hookengine.com&password=hookdev001
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      App-Token:
      - 1u6rQ6kuB46U8kSYAXRPDaBvvAiB7GPMMxZVLii79KQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"user":{"id":61188,"name":"Raymond Cudjoe","last_activity":"2017-03-19T21:52:52Z","auth_token":"5WZ1SCto37HBhH-AR1jn0kC3FXROO4b39CREMSyt_1U"}}'
  recorded_at: Mon, 20 Mar 2017 09:34:57 GMT
recorded_with: VCR 3.0.3
