---
http_interactions:
- request:
    method: get
    uri: https://api.hubstaff.com/v1/custom/by_project/team?end_date=2016-05-25&organizations=27572&start_date=2016-05-23
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      App-Token:
      - 1u6rQ6kuB46U8kSYAXRPDaBvvAiB7GPMMxZVLii79KQ
      Auth-Token:
      - 5WZ1SCto37HBhH-AR1jn0kC3FXROO4b39CREMSyt_1U
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"organizations":[{"id":27572,"name":"Hook Engine","duration":7874,"projects":[{"id":112761,"name":"Build
        Ruby Gem","duration":7874,"dates":[{"date":"2016-05-23","duration":7874,"users":[{"id":61188,"name":"Raymond
        Cudjoe","duration":7874}]}]}]}]}'
  recorded_at: Mon, 20 Mar 2017 18:48:47 GMT
recorded_with: VCR 3.0.3
