---
http_interactions:
- request:
    method: get
    uri: https://api.hubstaff.com/v1/custom/by_date/team?end_date=2016-05-25&include_archieved&organizations&projects&show_activity&show_notes&show_tasks&start_date=2016-05-23&users
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      App-Token:
      - 1u6rQ6kuB46U8kSYAXRPDaBvvAiB7GPMMxZVLii79KQ
      Auth-Token:
      - 5WZ1SCto37HBhH-AR1jn0kC3FXROO4b39CREMSyt_1U
  response:
    status:
      code: 400
      message: 
    headers:
      content-type:
      - application/json
      status:
      - 400 Bad Request
    body:
      encoding: UTF-8
      string: '{"error":"organizations: must be an array separated by commas"}'
  recorded_at: Thu, 29 Sep 2016 13:22:09 GMT
- request:
    method: get
    uri: https://api.hubstaff.com/v1/custom/by_date/team?end_date=2016-05-25&start_date=2016-05-23
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      App-Token:
      - 1u6rQ6kuB46U8kSYAXRPDaBvvAiB7GPMMxZVLii79KQ
      Auth-Token:
      - 5WZ1SCto37HBhH-AR1jn0kC3FXROO4b39CREMSyt_1U
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - W/"a7613413932a22c48b8c32a4281de156"
    body:
      encoding: ASCII-8BIT
      string: '{"organizations":[{"id":27572,"name":"Hook Engine","duration":7874,"dates":[{"date":"2016-05-23","duration":7874,"users":[{"id":61188,"name":"Raymond
        Cudjoe","duration":7874,"projects":[{"id":112761,"name":"Build Ruby Gem","duration":7874}]}]}]}]}'
  recorded_at: Tue, 18 Oct 2016 14:27:24 GMT
recorded_with: VCR 3.0.3
