---
http_interactions:
- request:
    method: get
    uri: https://api.hubstaff.com/v1/custom/by_date/team?end_date=2016-05-25&show_tasks=true&start_date=2016-05-23
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth-Token:
      - 5WZ1SCto37HBhH-AR1jn0kC3FXROO4b39CREMSyt_1U
      App-Token:
      - 1u6rQ6kuB46U8kSYAXRPDaBvvAiB7GPMMxZVLii79KQ
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
      etag:
      - W/"a7613413932a22c48b8c32a4281de156"
    body:
      encoding: ASCII-8BIT
      string: '{"organizations":[{"id":27572,"name":"Hook Engine","duration":7874,"dates":[{"date":"2016-05-23","duration":7874,"users":[{"id":61188,"name":"Raymond
        Cudjoe","duration":7874,"projects":[{"id":112761,"name":"Build Ruby Gem","duration":7874}]}]}]}]}'
  recorded_at: Tue, 02 Aug 2016 19:45:17 GMT
recorded_with: VCR 3.0.3
