---
http_interactions:
- request:
    method: get
    uri: https://api.hubstaff.com/v1/users/61188
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      App-Token:
      - 1u6rQ6kuB46U8kSYAXRPDaBvvAiB7GPMMxZVLii79KQ
      Auth-Token:
      - 5WZ1SCto37HBhH-AR1jn0kC3FXROO4b39CREMSyt_1U
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
      etag:
      - W/"b397a0c0417a20c9fe86c3430b4509f8"
    body:
      encoding: UTF-8
      string: '{"user":{"id":61188,"name":"Raymond Cudjoe","last_activity":"2016-09-29T15:11:53Z","email":"rkcudjoe@hookengine.com"}}'
  recorded_at: Thu, 29 Sep 2016 15:15:47 GMT
recorded_with: VCR 3.0.3
