---
http_interactions:
- request:
    method: get
    uri: https://api.hubstaff.com/v1/users/61188
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth-Token:
      - 5WZ1SCto37HBhH-AR1jn0kC3FXROO4b39CREMSyt_1U
      App-Token:
      - 1u6rQ6kuB46U8kSYAXRPDaBvvAiB7GPMMxZVLii79KQ
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
      etag:
      - W/"0b0d049f68cfc1b318758892f64db28a"
    body:
      encoding: UTF-8
      string: '{"user":{"id":61188,"name":"Raymond Cudjoe","last_activity":"2016-05-24T01:25:21Z","email":"rkcudjoe@hookengine.com"}}'
  recorded_at: Tue, 02 Aug 2016 18:18:57 GMT
recorded_with: VCR 3.0.3
