---
http_interactions:
- request:
    method: get
    uri: https://api.hubstaff.com/v1/users/61188/organizations?offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      App-Token:
      - 1u6rQ6kuB46U8kSYAXRPDaBvvAiB7GPMMxZVLii79KQ
      Auth-Token:
      - 5WZ1SCto37HBhH-AR1jn0kC3FXROO4b39CREMSyt_1U
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
      etag:
      - W/"7bd7378ce220cf2765d17e49f0b1d957"
    body:
      encoding: UTF-8
      string: '{"organizations":[{"id":27572,"name":"Hook Engine","last_activity":"2016-05-24T01:25:21Z"}]}'
  recorded_at: Thu, 29 Sep 2016 12:30:00 GMT
recorded_with: VCR 3.0.3
