---
http_interactions:
- request:
    method: get
    uri: https://api.hubstaff.com/v1/users/61188
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      App-Token:
      - 1u6rQ6kuB46U8kSYAXRPDaBvvAiB7GPMMxZVLii79KQ
      Auth-Token:
      - 5WZ1SCto37HBhH-AR1jn0kC3FXROO4b39CREMSyt_1U
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - W/"d08e08df0ba6ea7036de4ac86dffe3a9"
    body:
      encoding: UTF-8
      string: '{"user":{"id":61188,"name":"Raymond Cudjoe","last_activity":"2016-09-29T20:29:14Z","email":"rkcudjoe@hookengine.com"}}'
  recorded_at: Fri, 30 Sep 2016 13:01:53 GMT
recorded_with: VCR 3.0.3
