---
http_interactions:
- request:
    method: get
    uri: https://api.hubstaff.com/v1/users?offset=0&organization_memberships=false&project_memberships=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      App-Token:
      - 1u6rQ6kuB46U8kSYAXRPDaBvvAiB7GPMMxZVLii79KQ
      Auth-Token:
      - 5WZ1SCto37HBhH-AR1jn0kC3FXROO4b39CREMSyt_1U
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
      etag:
      - W/"1603f05314cc5decff4b89e0fec0315b"
    body:
      encoding: UTF-8
      string: '{"users":[{"id":61188,"name":"Raymond Cudjoe","last_activity":"2016-05-24T01:25:21Z","email":"rkcudjoe@hookengine.com"}]}'
  recorded_at: Thu, 29 Sep 2016 03:48:07 GMT
recorded_with: VCR 3.0.3
