---
http_interactions:
- request:
    method: get
    uri: https://api.hubstaff.com/v1/users?offset=0&organization_memberships=false&project_memberships=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      App-Token:
      - 1u6rQ6kuB46U8kSYAXRPDaBvvAiB7GPMMxZVLii79KQ
      Auth-Token:
      - 5WZ1SCto37HBhH-AR1jn0kC3FXROO4b39CREMSyt_1U
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - W/"96ac1d760bd5c70ab5a7a15a7ec3c0cf"
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"id":61188,"name":"Raymond Cudjoe","last_activity":"2016-09-29T20:29:14Z","email":"rkcudjoe@hookengine.com","projects":[{"id":112761,"name":"Build
        Ruby Gem","last_activity":"2016-09-29T20:29:14Z","status":"Active"},{"id":120320,"name":"Hubstaff
        API tutorial","last_activity":"2016-09-29T17:55:17Z","status":"Active"}]}]}'
  recorded_at: Thu, 20 Oct 2016 15:30:26 GMT
recorded_with: VCR 3.0.3
