---
http_interactions:
- request:
    method: get
    uri: https://api.hubstaff.com/v1/users?offset=0&organization_memberships=false&project_memberships=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth-Token:
      - 5WZ1SCto37HBhH-AR1jn0kC3FXROO4b39CREMSyt_1U
      App-Token:
      - 1u6rQ6kuB46U8kSYAXRPDaBvvAiB7GPMMxZVLii79KQ
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
      etag:
      - W/"0d5814cc0517157a25b1a567af486c63"
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"id":61188,"name":"Raymond Cudjoe","last_activity":"2016-05-24T01:25:21Z","email":"rkcudjoe@hookengine.com","projects":[{"id":112761,"name":"Build
        Ruby Gem","last_activity":"2016-05-24T01:25:21Z","status":"Active"},{"id":120320,"name":"Hubstaff
        API tutorial","last_activity":null,"status":"Active"}]}]}'
  recorded_at: Tue, 02 Aug 2016 18:24:31 GMT
recorded_with: VCR 3.0.3
