---
http_interactions:
- request:
    method: get
    uri: https://api.hubstaff.com/v1/users?offset=0&organization_memberships=false&project_memberships=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      App-Token:
      - 1u6rQ6kuB46U8kSYAXRPDaBvvAiB7GPMMxZVLii79KQ
      Auth-Token:
      - 5WZ1SCto37HBhH-AR1jn0kC3FXROO4b39CREMSyt_1U
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
      etag:
      - W/"c8f05b8579e0d06fc56d36535bda1986"
    body:
      encoding: UTF-8
      string: '{"users":[{"id":61188,"name":"Raymond Cudjoe","last_activity":"2016-09-29T18:48:58Z","email":"rkcudjoe@hookengine.com","projects":[{"id":112761,"name":"Build
        Ruby Gem","last_activity":"2016-09-29T18:48:58Z","status":"Active"},{"id":120320,"name":"Hubstaff
        API tutorial","last_activity":"2016-09-29T17:55:17Z","status":"Active"}]}]}'
  recorded_at: Thu, 29 Sep 2016 20:15:59 GMT
recorded_with: VCR 3.0.3
