---
http_interactions:
- request:
    method: get
    uri: https://api.hubstaff.com/v1/weekly/team
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      App-Token:
      - 1u6rQ6kuB46U8kSYAXRPDaBvvAiB7GPMMxZVLii79KQ
      Auth-Token:
      - 5WZ1SCto37HBhH-AR1jn0kC3FXROO4b39CREMSyt_1U
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
      etag:
      - W/"a6b3b49e91dd0c8e4af46ae9f47af5d7"
    body:
      encoding: UTF-8
      string: '{"organizations":[{"id":27572,"name":"Hook Engine","duration":12511,"users":[{"id":61188,"name":"Raymond
        Cudjoe","duration":12511,"dates":[{"date":"2016-09-29","duration":12511}]}]}]}'
  recorded_at: Thu, 29 Sep 2016 20:16:01 GMT
recorded_with: VCR 3.0.3
