---
http_interactions:
- request:
    method: get
    uri: https://api.hubstaff.com/v1/weekly/my?date=2016-05-24&organizations=27572
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth-Token:
      - 5WZ1SCto37HBhH-AR1jn0kC3FXROO4b39CREMSyt_1U
      App-Token:
      - 1u6rQ6kuB46U8kSYAXRPDaBvvAiB7GPMMxZVLii79KQ
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
      etag:
      - W/"e0fa3a37b3ed03a41929d1bff2a7f3b4"
    body:
      encoding: ASCII-8BIT
      string: '{"organizations":[{"id":27572,"name":"Hook Engine","duration":7874,"users":[{"id":61188,"name":"Raymond
        Cudjoe","duration":7874,"dates":[{"date":"2016-05-23","duration":7874}]}]}]}'
  recorded_at: Wed, 03 Aug 2016 02:26:03 GMT
- request:
    method: get
    uri: https://api.hubstaff.com/v1/weekly/my?organizations=27572
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      App-Token:
      - 1u6rQ6kuB46U8kSYAXRPDaBvvAiB7GPMMxZVLii79KQ
      Auth-Token:
      - 5WZ1SCto37HBhH-AR1jn0kC3FXROO4b39CREMSyt_1U
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - W/"0002b794793eb0ac3c6eba0af45cdec5"
    body:
      encoding: UTF-8
      string: '{"organizations":[]}'
  recorded_at: Wed, 05 Oct 2016 14:25:26 GMT
recorded_with: VCR 3.0.3
