---
http_interactions:
- request:
    method: get
    uri: https://api.hubstaff.com/v1/weekly/my
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      App-Token:
      - 1u6rQ6kuB46U8kSYAXRPDaBvvAiB7GPMMxZVLii79KQ
      Auth-Token:
      - 5WZ1SCto37HBhH-AR1jn0kC3FXROO4b39CREMSyt_1U
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - W/"7fe0014e5338227a2a8d4d38892281d4"
    body:
      encoding: ASCII-8BIT
      string: '{"organizations":[{"id":27572,"name":"Hook Engine","duration":13194,"users":[{"id":61188,"name":"Raymond
        Cudjoe","duration":13194,"dates":[{"date":"2016-09-29","duration":13194}]}]}]}'
  recorded_at: Fri, 30 Sep 2016 13:01:55 GMT
recorded_with: VCR 3.0.3
