---
http_interactions:
- request:
    method: get
    uri: https://api.hubstaff.com/v1/weekly/my?users=61188
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      App-Token:
      - 1u6rQ6kuB46U8kSYAXRPDaBvvAiB7GPMMxZVLii79KQ
      Auth-Token:
      - 5WZ1SCto37HBhH-AR1jn0kC3FXROO4b39CREMSyt_1U
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"organizations":[{"id":27572,"name":"Hook Engine","duration":7250,"users":[{"id":61188,"name":"Raymond
        Cudjoe","duration":7250,"dates":[{"date":"2017-03-14","duration":5553},{"date":"2017-03-19","duration":1697}]}]}]}'
  recorded_at: Sun, 19 Mar 2017 21:21:28 GMT
recorded_with: VCR 3.0.3
