---
http_interactions:
- request:
    method: get
    uri: https://api.hubstaff.com/v1/weekly/my
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      App-Token:
      - 1u6rQ6kuB46U8kSYAXRPDaBvvAiB7GPMMxZVLii79KQ
      Auth-Token:
      - 5WZ1SCto37HBhH-AR1jn0kC3FXROO4b39CREMSyt_1U
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"organizations":[{"id":27572,"name":"Hook Engine","duration":5553,"users":[{"id":61188,"name":"Raymond
        Cudjoe","duration":5553,"dates":[{"date":"2017-03-14","duration":5553}]}]}]}'
  recorded_at: Sat, 18 Mar 2017 20:13:31 GMT
recorded_with: VCR 3.0.3
