---
http_interactions:
- request:
    method: get
    uri: https://api.hubstaff.com/v1/weekly/team?date=2016-05-24&organizations=27572
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth-Token:
      - 5WZ1SCto37HBhH-AR1jn0kC3FXROO4b39CREMSyt_1U
      App-Token:
      - 1u6rQ6kuB46U8kSYAXRPDaBvvAiB7GPMMxZVLii79KQ
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
      etag:
      - W/"e0fa3a37b3ed03a41929d1bff2a7f3b4"
    body:
      encoding: ASCII-8BIT
      string: '{"organizations":[{"id":27572,"name":"Hook Engine","duration":7874,"users":[{"id":61188,"name":"Raymond
        Cudjoe","duration":7874,"dates":[{"date":"2016-05-23","duration":7874}]}]}]}'
  recorded_at: Wed, 03 Aug 2016 02:25:07 GMT
- request:
    method: get
    uri: https://api.hubstaff.com/v1/weekly/team?organizations=27572
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      App-Token:
      - 1u6rQ6kuB46U8kSYAXRPDaBvvAiB7GPMMxZVLii79KQ
      Auth-Token:
      - 5WZ1SCto37HBhH-AR1jn0kC3FXROO4b39CREMSyt_1U
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Etag:
      - W/"7fe0014e5338227a2a8d4d38892281d4"
    body:
      encoding: UTF-8
      string: '{"organizations":[{"id":27572,"name":"Hook Engine","duration":13194,"users":[{"id":61188,"name":"Raymond
        Cudjoe","duration":13194,"dates":[{"date":"2016-09-29","duration":13194}]}]}]}'
  recorded_at: Fri, 30 Sep 2016 03:46:26 GMT
recorded_with: VCR 3.0.3
