---
http_interactions:
- request:
    method: get
    uri: https://api.hubstaff.com/v1/weekly/my?date=2016-05-24&projects=112761
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth-Token:
      - 5WZ1SCto37HBhH-AR1jn0kC3FXROO4b39CREMSyt_1U
      App-Token:
      - 1u6rQ6kuB46U8kSYAXRPDaBvvAiB7GPMMxZVLii79KQ
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
      etag:
      - W/"e0fa3a37b3ed03a41929d1bff2a7f3b4"
    body:
      encoding: ASCII-8BIT
      string: '{"organizations":[{"id":27572,"name":"Hook Engine","duration":7874,"users":[{"id":61188,"name":"Raymond
        Cudjoe","duration":7874,"dates":[{"date":"2016-05-23","duration":7874}]}]}]}'
  recorded_at: Wed, 03 Aug 2016 02:26:10 GMT
- request:
    method: get
    uri: https://api.hubstaff.com/v1/weekly/my?projects=112761
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      App-Token:
      - 1u6rQ6kuB46U8kSYAXRPDaBvvAiB7GPMMxZVLii79KQ
      Auth-Token:
      - 5WZ1SCto37HBhH-AR1jn0kC3FXROO4b39CREMSyt_1U
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
      etag:
      - W/"1b49a7f12a6bb80c00aae170c8a278e4"
    body:
      encoding: UTF-8
      string: '{"organizations":[{"id":27572,"name":"Hook Engine","duration":11138,"users":[{"id":61188,"name":"Raymond
        Cudjoe","duration":11138,"dates":[{"date":"2016-09-29","duration":11138}]}]}]}'
  recorded_at: Thu, 29 Sep 2016 20:16:03 GMT
recorded_with: VCR 3.0.3
