---
http_interactions:
- request:
    method: get
    uri: https://api.hubstaff.com/v1/notes/716530
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth-Token:
      - 5WZ1SCto37HBhH-AR1jn0kC3FXROO4b39CREMSyt_1U
      App-Token:
      - 1u6rQ6kuB46U8kSYAXRPDaBvvAiB7GPMMxZVLii79KQ
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
      etag:
      - W/"57d2d09ca2ac08ebe955a9694baa5fbc"
    body:
      encoding: ASCII-8BIT
      string: '{"note":{"id":716530,"description":"Practice Notes","time_slot":"2016-05-23T22:20:00Z","recorded_at":"2016-06-04T19:08:22Z","user_id":61188,"project_id":112761}}'
  recorded_at: Tue, 02 Aug 2016 20:15:37 GMT
recorded_with: VCR 3.0.3
